<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Scrummable</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <!-- MAIN CONTENT HERE -->
    <%- defineContent('hero') %>
        <div class="hero-content">
            <h1><a href="/">Scrummable</a></h1>
            <nav>
                <ul>
                    <li><a href="/about">About us</a></li>
                    <li><a href="/contact">Contact us</a></li>
                </ul>
            </nav>
        </div>
        </section>
        <main>
            <%- body %>
        </main>

</body>

</html>
