<%- contentFor('hero') %>
    <section class="hero">

<%- contentFor('body') %>
  <div class="page">
    <h2>Get in touch</h2>
    <p>erm...we don't like giving out our email address because of spam and that.</p>
  </div>
